.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0a0553;
  background-color: #1f98bd;
  height: 35px;
  padding: 2px 5p;
  margin-top: 2px;
}

.checkbox {
  display: flex;
  align-items: center;
  color: #fff;
}

.checkbox ,icon{
    font-size: 15px;
    margin-right: 5px;
}

.line_through{
    text-decoration: line-through;
}